# OS artifacts
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Build output
Dist/
dist/
build/

# Env/config
.env*

/tests
/node_modules
/.vscode

package-lock.json
package.json
app.module.js